:root {
  /* variables */
  --clr-primary: rgba(23, 27, 58, 0.3);
  --clr-bg: #fff;
  --clr-bg-nav: rgba(23, 27, 58, 0.5);
  --clr-bg-signup: rgb(177 58 58);
  --clr-white: #fff;
  --clr-bg-login: rgb(177 58 50);
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

a,
ul {
  text-decoration: none;
  list-style-type: none;
  color: var(--clr-white);
}

::after,
::before {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  height: 100vh;
  place-items: center;
  position: relative;
  /* border: solid 2px yellow; */
}

.title {
  font-size: 4rem;
  color: var(--clr-white);
  margin: 0 auto;
}

.btn-global {
  background-color: var(--clr-bg-login);
  padding: 1rem;
  color: var(--clr-white);
  font-size: 1.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
}
